header
    .header-column
        a(href=routes.home)
            i.fas.fa-film
    .header-column
        a(href=routes.join)
            span.header__join Join
        a(href=routes.login)
            span.header__login Login
    .bar-container
        .side-bar
            span.menu__menu-icon
                i.fas.fa-align-justify
            //- span.menu__menu-up
            //-     i.fas.fa-angle-up
            span.menu__search-icon
                i.fas.fa-search
            a(href=routes.join)
                span.menu__join Join
            a(href=routes.login)
                span.menu__login Login