extends ./layout/main
include mixins/videoBlock
include mixins/likeVideoBlock

block content
    .profile
        .profile__detail
            img.detail__img(src=user.profile)
            .detail__info
                h1 #{user.name}
                h3 #{user.email}
            if(loggedUser)
                a(href=routes.userEdit(user.id))
                    button Edit
        .profile__video
            h1 New Arrival!
            .video__recent
                if(user.videos.length !== 0)
                    video.detail__video.jsDetailVideo(src=`${user.videos[0].src}`, controls=true)
    .profile-videos
        h1 History
        ol.videos__list
            each video in videos
                +videoBlock(video, user)
    .profile-likevideos
        h1 Liked
        ol.videos__list
            each video in likeVideos
                +likeVideoBlock(video)
