mixin searchVideoBlock(video={}, user={})
    .search-videoblock
        .search-column
            video.video-result(src=video.src)
        .search-column
            a(href=routes.videoDetail(video.id))
                h1.title #{video.title}
            .search__info-sub
                span.comments
                    i.fas.fa-comment
                    |   15
                span.like
                    i.fas.fa-heart
                    |   #{video.views}
            .search__info-creator
                a(href=routes.userDetail(user.id))
                    img.creator-profile(src=user.profile)
                span.creator-name #{user.name}
            p #{video.description}


