mixin videoBlock(video={}, user={})
    li.videoBlock
        a(href=routes.videoDetail(video.id))
            video.video-thumbnail(src=video.src)
        h1.video-title #{video.title}
        .info-container
            .info-creator
                a(href=routes.userDetail(user.id))
                    img.creator-profile(src=user.profile)
                span.creator-name #{user.name}
            .info-sub
                span.comments
                    i.fas.fa-comment
                |   15
                span.like
                    i.fas.fa-heart
                |   #{video.views}
